.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
}

.navbar .logo {
  font-size: 30px;

  font-family: "galada", sans-serif;
}
.navbar .logo a {
  text-decoration: none;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-family: "libre franklin", sans-serif;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}
.navbar ul li a:hover {
  color: #ccc;
}
.navbar .redes-sociales {
  display: flex;
  gap: 15px;
}
.navbar .redes-sociales a {
  color: white;
  text-decoration: none;
}
@media (max-width: 495px) {
  .navbar {
    flex-direction: column;
  }
  .navbar ul {
    padding: 5px;

    font-size: 14px;
  }
}
