.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  bottom: 0;
  margin-bottom: 0;
  position: relative;
  width: 100%;
}

.redes-sociales-footer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 5px;
}
.redes-sociales-footer a {
  color: #ffffff;
  color: rgb(255 255 255);
  text-decoration: none;
}

/* media queryes para el footer */
@media (min-width: 360px) {
  .footer {
    padding: 10px;
    font-size: 14px;
  }
  .redes-sociales-footer {
    gap: 15px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 20px;
    font-size: 16px;
  }
  .redes-sociales-footer {
    gap: 20px;
  }
}
